/* Shared Styles */
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}



.btn-primary {
    padding: 15px 30px;
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #0000ff;
    text-decoration: underline;
}

.btn-border {
    padding: 13px 30px;
    border: 3px solid #FD6E0A;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 700;
    margin-left: 30px;
}

.btn-border:hover {
    background-color: #0000ff;
    text-decoration: underline;
    border: 3px solid #0000ff;
}

.btn-border a {
    text-decoration: none;
    color: #FD6E0A;
}

.btn-border:hover a {
    text-decoration: underline;
    color: #FFF;
}

.btn-primary a {
    text-decoration: none;
    color: #fff;
}

/* .btn-primary a:hover {
    text-decoration: underline;
    color: #0000ff;
} */



.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.center-btn {
    text-align: center;
    margin-top: 20px;
}

/* Nav Menu  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding: 30px 0;
}

.site-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    padding-right: 30px;
}

nav a {
    color: #474747;
    text-decoration: none;
}

/* Header Releted Styles */
.header {
    background-color: #fce2cf;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom right;
}


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 0px 200px;
}

.banner-content {
    max-width: 500px;
}

.banner-getting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    color: #181818;
    font-size: 65px;
    font-weight: 700;
}

.banner-discription {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}


/* Main Section  Styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin: 120px 0;
}


/* About Section Styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.info-description {
    color: #474747;
    font-size: 18px;
    font-weight: 700;
}

/* What I Do Section Styles */

.skill-container {
    display: flex;
    gap: 30px;

}

.skill-content {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-content>img {
    margin-bottom: 10px;
}

.skill-title {
    margin-bottom: 10px;
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* A summary of My Resume Section Styles */

.resume-container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.resume-box {
    width: 50%;
    padding: 0 20px;
}

.resume-main-title {
    margin-bottom: 15px;
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.resume-title-desc {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.resume-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.resume-contain {
    margin: 30px 0;
}


/* Footer Section Style */
.footer-bg {
    background-color: #FFF8F3;
    padding: 130px 0;
}

.footer {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 50px;

}

.footer-box {
    max-width: 50%;
}

.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-description {
    color: #474747;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}

.social-links {
    margin-top: 20px;
    padding-right: 40px;
}

.social-links>a {
    padding-right: 20px;
}

/* Contact Form Styles */
.contact-us input[type="text"],
.contact-us input[type="email"],
textarea {
    display: block;
    padding: 16px 30px;
    margin-bottom: 25px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

.contact-us input[type="submit"] {
    padding: 13px 30px;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    background-color: #FD6E0A;

}

.contact-us input[type="submit"]:hover {
    background-color: #0000ff;
    text-decoration: underline;

}